.app.dark {
	--bg-color: #050508;
	--inverted-bg-color: rgb(22, 25, 28);

	--primary-color: #e7e7e7;
	--secondary-color: #717571;

	--inverted-primary-color: #040405;
	--inverted-secondary-color:  rgb(18, 19, 21);
}