.Navbar {
	width: 100%;
	height: var(--navbar-height);
	background: var(--inverted-bg-color);
	display: flex;
	align-items: center;
	padding: 15px;
	color: var(--secondary-color);
}

.links {
	margin-left: auto;
	text-decoration: none;
}

// .mainLink {
// 	margin-right: 15px;
// }

.authBtn {
	border-radius: 10px;
}

.links > * {
	margin-right: 15px;

}