.Navbar {
	width: 100%;
	height: var(--navbar-height);
	background: var(--inverted-bg-color);
	display: flex;
	align-items: center;
	padding: 15px;
	border-bottom: 1px solid var(--primary-color);
}

.links {
	margin-left: auto;
	text-decoration: none;
}

.authBtn {
	border-radius: 10px;
	border: 2px solid var(--primary-color);
}

.links > * {
	margin-right: 15px;
}